#dhand{
	background-color: green;
	border-radius: 50% 50% 0 0;
	border: 1px solid gray;
}
#phand{
	background-color: green;
	border: 1px solid gray;
	border-radius: 0 0 50% 50%;
}
.ctrl{
	border: 1px solid gray;
}
.message{
	color: red;
	font-weight: bold;
	font-size:4em;
	text-align: center;
	line-height:15px;
}
.m2{
	font-size: 15px;
}