#dhand{
	height: 300px;
	padding: 100px 200px 10px 200px;
}
.ctrl{
	display: inline-block;
	height: 100px;
	margin: 10px 100px;
	padding: 10px;
}
.button{
	height: 100px;
	width: 200px;
}
#phand{
	padding: 10px 200px;
	height: 300px;
}
.current_phand{
	padding-left: 50px;
	float: left;
}
.current_dhand{
	padding-left: 50px;
	float: left;
}
.message{
	padding: 0;
	margin-left: 20px;
	display: inline-block;
	width: 400px;
	height: 100px;
}
.meshid{
	display: none;
}
